@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 140 11% 96%;
    --foreground: 20 14.3% 4.1%;
    --card: 140 11% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 140 11% 96%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 147 72% 49%;
    --primary-foreground: 147 31% 10%;
    --secondary: 180 100% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 0 0% 92%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 147 72% 49%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 147 31% 10%;
    --foreground: 0 0% 98%;
    --card: 147 31% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 147 31% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 147 72% 49%;
    --primary-foreground: 147 31% 10%;
    --secondary: 180 100% 35%;
    --secondary-foreground: 0 0% 100%;
    --muted: 147 31% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 147 31% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 147 31% 15%;
    --input: 147 31% 15%;
    --ring: 147 72% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
